SGCServeur/Parametrage/ImportExport/Employe/EmployeXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ConCom">
		<xs:attribute name="Code" type="xs:string" use="required"/>
		<xs:attribute name="Libelle" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="DateInsertion" type="xs:string" use="optional"/>
		<xs:attribute name="DateMaj" type="xs:string" use="optional"/>
		<xs:attribute name="Indice" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:element name="Employes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Employe">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string"/>
							<xs:element name="Libelle" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
							<xs:element name="DateInsertion" type="xs:string"/>
							<xs:element name="DateMaj" type="xs:string"/>
							<xs:element name="Compte" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="Code" type="xs:string" use="required"/>
									<xs:attribute name="Mail" type="xs:string" use="required"/>
									<xs:attribute name="TypeCompte" type="xs:string" use="required"/>
									<xs:attribute name="DateInsertion" type="xs:string" use="optional"/>
									<xs:attribute name="DateMaj" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Competences" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Competence" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ConCom">
														<xs:attribute name="Niveau" type="xs:int" use="required"/>
														<xs:attribute name="DateAcquisition" type="xs:string" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Connaissances" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connaissance" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ConCom">
														<xs:attribute name="Niveau" type="xs:int" use="required"/>
														<xs:attribute name="DateAcquisition" type="xs:string" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Emplois" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Emploi" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ConCom">
														<xs:sequence>
															<xs:element name="Service" minOccurs="0" maxOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Code" type="xs:string"/>
																		<xs:element name="Libelle" type="xs:string"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="DateDebut" type="xs:string" use="required"/>
														<xs:attribute name="DateFin" type="xs:string" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Indice" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="required" />
			<xs:attribute name="DateExport" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>