SGCServeur/Parametrage/ImportExport/Employe/EmployeXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ConCom">
		<xs:attribute name="code" type="xs:string" use="required"/>
		<xs:attribute name="libelle" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
		<xs:attribute name="dateInsertion" type="xs:dateTime" use="optional"/>
		<xs:attribute name="dateMaj" type="xs:dateTime" use="optional"/>
		<xs:attribute name="indice" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:element name="Employes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Employe">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="code" type="xs:string"/>
							<xs:element name="libelle" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="dateInsertion" type="xs:dateTime"/>
							<xs:element name="dateMaj" type="xs:dateTime"/>
							<xs:element name="CompteSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="mail" type="xs:string" use="required"/>
									<xs:attribute name="typeCompte" type="xs:string" use="required"/>
									<xs:attribute name="dateInsertion" type="xs:dateTime" use="optional"/>
									<xs:attribute name="dateMaj" type="xs:dateTime" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CompetencesSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Competence" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ConCom">
														<xs:attribute name="Niveau" type="xs:int" use="required"/>
														<xs:attribute name="DateAcquisition" type="xs:dateTime" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ConnaissancesSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connaissance" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ConCom">
														<xs:attribute name="niveau" type="xs:int" use="required"/>
														<xs:attribute name="dateAcquisition" type="xs:dateTime" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EmploisSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Emploi" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ConCom">
														<xs:sequence>
															<xs:element name="ServiceSet" minOccurs="0" maxOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="code" type="xs:string"/>
																		<xs:element name="libelle" type="xs:string"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="dateDebut" type="xs:dateTime" use="required"/>
														<xs:attribute name="dateFin" type="xs:dateTime" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Indice" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" />
			<xs:attribute name="dateExport" type="xs:dateTime" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>