SGCServeur/Parametrage/ImportExport/FichierXsd/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--Classe Commune entre ConComCommun et Emploi-->
	<xs:complexType name="ConComBase" abstract="true">
		<xs:attribute name="code" type="xs:string" use="required"/>
		<xs:attribute name="libelle" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
		<xs:attribute name="dateInsertion" type="xs:dateTime" use="optional"/>
		<xs:attribute name="dateMaj" type="xs:dateTime" use="optional"/>
		<xs:attribute name="indice" type="xs:int" use="optional"/>
	</xs:complexType>

	<!--Classe commune entre Connaissance et Competence-->
	<xs:complexType name="ConComCommun" abstract="true">
		<xs:complexContent>
			<xs:extension base="ConComBase">
				<xs:attribute name="Niveau" type="xs:int" use="required"/>
				<xs:attribute name="DateAcquisition" type="xs:dateTime" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--Classe commune a tous les types de bases-->
	<xs:complexType name="ObjetBase">
		<xs:attribute name="Code" type="xs:string" use="required"/>
		<xs:attribute name="Libelle" type="xs:string" use="required"/>
		<xs:attribute name="DateInsertion" type="xs:dateTime" use="optional"/>
		<xs:attribute name="DateMaj" type="xs:dateTime" use="optional"/>
	</xs:complexType>

	<xs:complexType name="ServiceBase" abstract="true">
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Libelle" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	

	<xs:attributeGroup name="rootAttribute">
		<xs:attribute name="Version" type="xs:string" use="required" />
		<xs:attribute name="DateExport" type="xs:dateTime" use="required" />
	</xs:attributeGroup>
</xs:schema>