SGCServeur/Parametrage/ImportExport/FichierXsd/EmploiXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Common.xsd" />

	<xs:complexType name="ObjetEmploi">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="libelle" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="dateInsertion" type="xs:dateTime"/>
			<xs:element name="dateMaj" type="xs:dateTime"/>
			<xs:element name="service" type="ServiceBase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Competences" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Competence" type="ConComBase" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Connaissances" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Connaissance" type="ConComBase" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Indice" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:element name="Emplois">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" type="ObjetEmploi" name="Emploi"/>
			</xs:sequence>
			<xs:attributeGroup ref="rootAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>