SGCServeur/Parametrage/ImportExport/FichierXsd/ParametreXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Common.xsd" />

	<xs:element name="Parametres">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Parametre">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ObjetBase">
								<xs:attribute name="Valeur" type="xs:string" use="required"/>
								<xs:attribute name="Indice" type="xs:int" use="optional"/>
							</xs:extension>
						</xs:complexContent>						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="rootAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>