SGCServeur/Parametrage/ImportExport/Parametre/ParametreXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Parametres">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Parametre">
					<xs:complexType>
						<xs:attribute name="Code" type="xs:string" use="required"/>
						<xs:attribute name="Libelle" type="xs:string" use="required"/>
						<xs:attribute name="Valeur" type="xs:string" use="required"/>
						<xs:attribute name="DateInsertion" type="xs:string" use="optional"/>
						<xs:attribute name="DateMaj" type="xs:string" use="optional"/>
						<xs:attribute name="Indice" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="required" />
			<xs:attribute name="DateExport" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>