SGC.Export/Parametrage/FichierXsd/Comptes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Common.xsd" />

	<xs:element name="Comptes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Compte">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="mail" type="xs:string" use="required"/>
						<xs:attribute name="typeCompte" type="xs:string" use="required"/>
						<xs:attribute name="dateInsertion" type="xs:dateTime" use="optional"/>
						<xs:attribute name="dateMaj" type="xs:dateTime" use="optional"/>
						<xs:attribute name="indice" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="rootAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>