SGC.Export/Parametrage/FichierXsd/CompetenceXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Common.xsd" />

	<xs:element name="Competences">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Competence">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ObjetBase">
								<xs:attribute name="indice" type="xs:int" use="optional"/>
								<xs:attribute name="description" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:complexContent>						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="rootAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>