SGC.Export/Parametrage/FichierXsd/Employes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Common.xsd" />
	<xs:include schemaLocation="EmploiXml.xsd" />

	<xs:element name="Employes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Employe">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="code" type="xs:string"/>
							<xs:element name="libelle" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="dateInsertion" type="xs:dateTime"/>
							<xs:element name="dateMaj" type="xs:dateTime"/>
							<xs:element name="CompteSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="mail" type="xs:string" use="required"/>
									<xs:attribute name="typeCompte" type="xs:string" use="required"/>
									<xs:attribute name="dateInsertion" type="xs:dateTime" use="optional"/>
									<xs:attribute name="dateMaj" type="xs:dateTime" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CompetencesSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Competence" type="ConComCommun" minOccurs="1" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ConnaissancesSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connaissance" type="ConComCommun" minOccurs="1" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EmploisSet" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Emploi" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ObjetEmploi">
														<xs:attribute name="dateDebut" type="xs:dateTime" use="required"/>
														<xs:attribute name="dateFin" type="xs:dateTime" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="indice" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="rootAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>