SGCServeur/Parametrage/ImportExport/Emploi/EmploiXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ConCom">
		<xs:attribute name="Code" type="xs:string" use="required"/>
		<xs:attribute name="Libelle" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="DateInsertion" type="xs:dateTime" use="optional"/>
		<xs:attribute name="DateMaj" type="xs:dateTime" use="optional"/>
		<xs:attribute name="Indice" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:element name="Emplois">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Emploi">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string"/>
							<xs:element name="Libelle" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
							<xs:element name="DateInsertion" type="xs:dateTime"/>
							<xs:element name="DateMaj" type="xs:dateTime"/>
							<xs:element name="Service" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Code" type="xs:string"/>
										<xs:element name="Libelle" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Competences" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Competence" type="ConCom" minOccurs="1" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Connaissances" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connaissance" type="ConCom" minOccurs="1" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Indice" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="required" />
			<xs:attribute name="DateExport" type="xs:dateTime" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>